<%- include('partials/header.ejs') %>

    <h1>Welcome to my Blog!</h1>
    <div class="flex f-col align-center container-hero spacing">
        <a class="align-right stripe-btn" href="/create">Share your story!</a>
        <!--Here show 3 cards in with image -->
        <div class="flex justify-center spacing wrap">
            <% if (locals.topPostsBlog && locals.topPostsBlog.length > 0) { %>
                <% topPostsBlog.forEach((post)=> {%>
                    <div class="intro-card">
                        <img src="/images/canada.png">
                        <h3 class="card-header">
                            <%= post.title %>
                        </h3>
                        <div class="card-text">
                            <%= post.text %>
                        </div>
                        <a href="/blog/<%= post.id %>" class="stripe-btn">
                        See post >>
                        </a>
                    </div>
                    <% })} else {%>
                    <div class="intro-card">
                        <img src="/images/canada.png">
                        <h3 class="card-header">
                            Nothing shared yet ...
                        </h3>
                        <div class="card-text">
                            Share your experiences so others can see what you are up to!
                        </div>
                        <a class="card-link" href="/create">
                            Create post >>
                        </a>
                    </div>
                    <% }%>
        </div>
    </div>
    <!-- Show some more stories -->
     <div class="flex f-col align-center justify-start container-lists spacing mb-5">
        <h2>Experiences ...</h2>
            <% if (locals.blogPostsMem) { %>
            <% blogPostsMem.forEach(element => { %>
                <div class="card-list">
                    <img src="/images/canada.png">
                    <div class="card-content">
                        <h3 class="card-header">
                            <%= element.title %>
                        </h3>
                        <div class="card-text">
                            <%= element.text %>
                        </div>
                    </div>
                    <div class="card-actions">
                        <a href="/blog/<%= element.id %>" class="stripe-btn">
                        See post >>
                        </a>
                        <form method="post" action="/edit/<%=element.id%>">
                            <input type="submit" value="Edit" class="stripe-btn">
                        </form>
                        <form method="post" action="/delete/<%=element.id%>">
                            <input type="submit" value="Delete" class="stripe-btn danger">
                        </form>
                    </div>
                </div>
            <%});}%>
        </div>
     </div>
     <%- include('partials/footer.ejs') %>